<div class="k-my-5 k-d-flex k-gap-2">
  <button kendoButton size="medium" themeColor="secondary" routerLink="base-grid" routerLinkActive="k-bg-tertiary">Base grid</button>
  <button kendoButton size="medium" themeColor="secondary" routerLink="grid-with-grouping" routerLinkActive="k-bg-tertiary">Grouping</button>
  <button kendoButton size="medium" themeColor="secondary" routerLink="grid-column-operations" routerLinkActive="k-bg-tertiary">Column operations</button>
  <button kendoButton size="medium" themeColor="secondary" routerLink="grid-multi-view-state" routerLinkActive="k-bg-tertiary">Multi view state</button>
  <button kendoButton size="medium" themeColor="secondary" routerLink="master-detail-grid" routerLinkActive="k-bg-tertiary">Master detail</button>
</div>

<router-outlet></router-outlet>
